h1{
    color: #4b5257;
    text-align: center;
    font-family: Sommet, sans-serif;
}
h2{
    text-align: left;
    color: #4b5257;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 40px;
    font-family: "Sommet Italic", sans-serif;
    font-size: 20px;
}
h4{
    color: #4b5257;
    text-align: right;
    font-family: "Sommet Italic", sans-serif;
    font-size: 20px;
    margin-top: 5px;
}

.topnav {
    overflow: hidden;
    background-color:rgb(240, 240, 240);
}

.topnav a {
    float:right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 150px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor:pointer;
}

div.gallery {
    margin-left: 19px;
    margin-top: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 600px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: "Sommet Light",sans-serif;
}
form{
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}
video{
    margin-left:80px;
    margin-top: 10px;
}